.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
  }
  
  .spinner-border {
    width: 3rem;
    height: 3rem;
    border-width: 0.3em;
    border-color: #ccc;
    border-top-color: #007bff;
    border-radius: 50%;
    animation: spinner-animation 1s linear infinite;
  }
  
  @keyframes spinner-animation {
    to {
      transform: rotate(360deg);
    }
  }
  